{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="w-full min-h-screen bg-[#fdfaf6] px-10 py-10">

  <div class="max-w-7xl mx-auto border border-[#d8c7b5] rounded-3xl bg-white p-10">

    <h1 class="text-4xl font-bold text-[#4b1e0f] mb-10">
      About This Project
    </h1>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">

      <div class="flex justify-center">

        <img src="{{ url_for('static', filename='Houses-bro.svg') }}"
             alt="House Illustration"
             class="w-[450px] object-contain">

      </div>

      <div>

        <h2 class="text-3xl font-bold text-[#e26a2c] mb-6">
          House Price Prediction System
        </h2>

        <p class="text-[#555] text-lg leading-9 mb-6">
          This project was developed as a machine learning
          application that predicts house prices using the
          California Housing dataset.
        </p>

        <p class="text-[#555] text-lg leading-9 mb-6">
          The system demonstrates the use of
          regression techniques, data preprocessing,
          visualization, and predictive analytics using Python.
        </p>

        <p class="text-[#555] text-lg leading-9">
          The project combines frontend web development
          and machine learning to create an interactive
          prediction platform for users.
        </p>

      </div>

    </div>

<div class="mt-14">

  <h2 class="text-3xl font-bold text-[#4b1e0f] mb-8">
    Technologies Used
  </h2>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">

    <div class="border border-[#f0d5bf] bg-[#fffaf5] rounded-2xl p-6 text-center hover:shadow-lg transition">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
           class="w-12 mx-auto mb-4">
      <h3 class="text-lg font-semibold text-[#4b1e0f]">Python</h3>
    </div>

    <div class="border border-[#d6dfc8] bg-[#fcfff8] rounded-2xl p-6 text-center hover:shadow-lg transition">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
           class="w-12 mx-auto mb-4">
      <h3 class="text-lg font-semibold text-[#4b1e0f]">Pandas</h3>
    </div>

    <div class="border border-[#f0d5bf] bg-[#fffdfb] rounded-2xl p-6 text-center hover:shadow-lg transition">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
           class="w-12 mx-auto mb-4">
      <h3 class="text-lg font-semibold text-[#4b1e0f]">Scikit-Learn</h3>
    </div>

    <div class="border border-[#d6dfc8] bg-[#fcfff8] rounded-2xl p-6 text-center hover:shadow-lg transition">

    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original-wordmark.svg"
        class="w-16 h-16 mx-auto mb-4 object-contain">

    <h3 class="text-lg font-semibold text-[#4b1e0f]">Matplotlib</h3>
    </div>

    <div class="border border-[#f0d5bf] bg-[#fffaf5] rounded-2xl p-6 text-center hover:shadow-lg transition">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
           class="w-12 mx-auto mb-4">
      <h3 class="text-lg font-semibold text-[#4b1e0f]">Flask</h3>
    </div>

  </div>
</div>

      </div>

    </div>

    <div class="mt-14">

      <h2 class="text-3xl font-bold text-[#4b1e0f] mb-8">
        Team Members
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        <div
          class="border border-[#d8c7b5] rounded-2xl p-8 text-center bg-[#fffdfb] hover:shadow-lg transition">

          <img
              src="{{ url_for('static', filename='tyrone.jpg') }}"
              alt="Member 1"
              class="w-24 h-24 mx-auto rounded-full object-cover mb-5"
          />

          <h3 class="text-2xl font-semibold text-[#4b1e0f]">
            Name
          </h3>


        </div>

        <div
          class="border border-[#d8c7b5] rounded-2xl p-8 text-center bg-[#fffdfb] hover:shadow-lg transition">

          <img
              src="{{ url_for('static', filename='keanna.jpg') }}"
              alt="Member 1"
              class="w-24 h-24 mx-auto rounded-full object-cover mb-5"
          />

          <h3 class="text-2xl font-semibold text-[#4b1e0f]">
            Name
          </h3>


        </div>


        <div
          class="border border-[#d8c7b5] rounded-2xl p-8 text-center bg-[#fffdfb] hover:shadow-lg transition">

          <img
              src="{{ url_for('static', filename='jona.jpg') }}"
              alt="Member 1"
              class="w-24 h-24 mx-auto rounded-full object-cover mb-5"
          />

          <h3 class="text-2xl font-semibold text-[#4b1e0f]">
            Name
          </h3>

        </div>

      </div>

    </div>

  </div>

</section>

{% endblock %}
